{%extends 'base_admin.html'%}

{%block add_project%}
<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <form action="" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form-group" style="align-items: center;justify-content: center;">
                    {%for i in form1%}
                        {{i}}
                    {%endfor%}
                    <input type="file" name="image" multiple>
            
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>                
        </div>
    </div>
</div>

{% endblock %}
