<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Template">
    <!-- Favicon -->
    <title>Template</title>
    <!-- vendor css -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body class="page-profile">
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="#" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="#" class="df-logo">Living<span>Estates</span></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <div class="navbar-menu-header">
                <a href="#" class="df-logo">Company<span>name</span></a>
                <a id="mainMenuClose" href="#"><i data-feather="x"></i></a>
            </div><!-- navbar-menu-header -->
            <ul class="nav navbar-menu">
                <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
                <li class="nav-item active">
                    <a href="{% url 'index'%}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about_us'%}" class="nav-link">About Us</a>
                </li>
            </ul>
        </div><!-- navbar-menu-wrapper -->
    </header><!-- navbar -->
	<div class="content content-fixed content-auth">
		<div class="container">
			<div class="media align-items-stretch justify-content-center ht-100p pos-relative">
				<div class="align-items-center d-none d-lg-flex">
					<div class="mx-wd-500">
                        {% if messages %}
						{% for message in messages %}
						<div class="alert alert-danger" role="alert">
							{{message}}
						</div>
						{% endfor %}
					  {% endif %}
	

                        <form action="" method="POST">
                            {%csrf_token%}
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="{{username}}">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Enter new Password</label>
                                  <input type="password" class="form-control" name="p1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Re-enter Password</label>
                                    <input type="password" class="form-control" name="p2" placeholder="Password">
                                  </div>
                          
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
				</div><!-- media-body -->
			</div><!-- media -->
		</div><!-- container -->
	</div><!-- content -->

</body>
</html>

